Repository NotAShelf/nvf, pull requests merged in 2025-07, with the labels that each got.

#985 doc: fix un-buildable example code in pure-lua-config section
  docs/manual/tips/pure-lua-config.md
Labels: topic: documentation

#989 docs: working example for `vim.diagnostics.config.signs`
  modules/neovim/init/diagnostics.nix
Labels: topic: modules

#992 minor treewide improvements
  lib/lua.nix
  lib/stdlib-extended.nix
  modules/neovim/init/clipboard.nix
  modules/neovim/mappings/config.nix
  modules/plugins/assistant/copilot/config.nix
  modules/plugins/completion/blink-cmp/blink-cmp.nix
  modules/plugins/completion/nvim-cmp/config.nix
  modules/plugins/completion/nvim-cmp/nvim-cmp.nix
  modules/plugins/dashboard/alpha/config.nix
  modules/plugins/languages/astro.nix
  modules/plugins/languages/bash.nix
  modules/plugins/languages/nim.nix
  modules/plugins/languages/svelte.nix
  modules/plugins/languages/ts.nix
  modules/plugins/languages/yaml.nix
  modules/plugins/mini/ai/ai.nix
  modules/plugins/mini/align/align.nix
  modules/plugins/mini/animate/animate.nix
  modules/plugins/mini/basics/basics.nix
  modules/plugins/mini/bracketed/bracketed.nix
  modules/plugins/mini/bufremove/bufremove.nix
  modules/plugins/mini/clue/clue.nix
  modules/plugins/mini/colors/colors.nix
  modules/plugins/mini/comment/comment.nix
  modules/plugins/mini/completion/completion.nix
  modules/plugins/mini/diff/diff.nix
  modules/plugins/mini/doc/doc.nix
  modules/plugins/mini/extra/extra.nix
  modules/plugins/mini/files/files.nix
  modules/plugins/mini/fuzzy/fuzzy.nix
  modules/plugins/mini/git/git.nix
  modules/plugins/mini/hipatterns/hipatterns.nix
  modules/plugins/mini/hues/hues.nix
  modules/plugins/mini/icons/icons.nix
  modules/plugins/mini/jump/jump.nix
  modules/plugins/mini/jump2d/jump2d.nix
  modules/plugins/mini/map/map.nix
  modules/plugins/mini/misc/misc.nix
  modules/plugins/mini/move/move.nix
  modules/plugins/mini/operators/operators.nix
  modules/plugins/mini/pairs/pairs.nix
  modules/plugins/mini/pick/pick.nix
  modules/plugins/mini/sessions/sessions.nix
  modules/plugins/mini/snippets/snippets.nix
  modules/plugins/mini/splitjoin/splitjoin.nix
  modules/plugins/mini/starter/starter.nix
  modules/plugins/mini/statusline/statusline.nix
  modules/plugins/mini/surround/surround.nix
  modules/plugins/mini/tabline/tabline.nix
  modules/plugins/mini/test/test.nix
  modules/plugins/mini/trailspace/trailspace.nix
  modules/plugins/mini/visits/visits.nix
  modules/plugins/utility/leetcode-nvim/leetcode-nvim.nix
  modules/plugins/utility/motion/flash/config.nix
  modules/plugins/utility/smart-splits/config.nix
  modules/plugins/visuals/cinnamon-nvim/cinnamon-nvim.nix
  modules/plugins/visuals/nvim-web-devicons/nvim-web-devicons.nix
  modules/plugins/visuals/rainbow-delimiters/rainbow-delimiters.nix
Labels: topic: plugins, topic: modules

#994 git/neogit: module init
  configuration.nix
  docs/release-notes/rl-0.8.md
  modules/plugins/git/default.nix
  modules/plugins/git/gitsigns/config.nix
  modules/plugins/git/neogit/config.nix
  modules/plugins/git/neogit/default.nix
  modules/plugins/git/neogit/neogit.nix
  npins/sources.json
Labels: topic: plugins, topic: modules, topic: documentation

#972 binds/which-key: allow deregistering binds or groups
  docs/release-notes/rl-0.8.md
  modules/plugins/utility/binds/which-key/config.nix
Labels: topic: plugins, topic: modules, topic: documentation

#1000 doc: fix appendix link in ch-configuring section
  docs/manual/configuring.md
Labels: topic: documentation

#1001 flake: follow flake-parts and flake-utils inputs
  docs/release-notes/rl-0.8.md
  flake.lock
  flake.nix
Labels: topic: dependencies, topic: documentation, topic: packaging

#915 languagaes/neorg: fix grammar packages
  docs/release-notes/rl-0.8.md
  modules/plugins/notes/neorg/config.nix
  modules/plugins/notes/neorg/neorg.nix
Labels: topic: plugins, topic: modules, topic: documentation

#1014 treewide: `vim.loop` -> `vim.uv`
  modules/plugins/treesitter/treesitter.nix
  modules/plugins/utility/harpoon/harpoon.nix
Labels: topic: plugins, topic: modules

#1015 docs: fixed typo
  modules/neovim/init/diagnostics.nix
Labels: topic: modules

#1016 treewide: remove deprecated `isNull`
  modules/plugins/theme/supported-themes.nix
  modules/plugins/utility/binds/which-key/config.nix
Labels: topic: plugins, topic: modules

#1009 otter: remove deprecated setting
  modules/plugins/lsp/otter/otter.nix
Labels: topic: plugins, topic: modules

#1017 themes/everforest: init
  docs/release-notes/rl-0.8.md
  modules/plugins/theme/supported-themes.nix
  npins/sources.json
Labels: topic: plugins, topic: modules, topic: documentation

#1020 git/hunk-nvim: add missing UI dependency
  modules/plugins/git/hunk-nvim/config.nix
Labels: topic: plugins, topic: modules

#1026 docs: missing `with` in `treesitter.nix`
  modules/plugins/treesitter/treesitter.nix
Labels: topic: plugins, topic: modules

#1025 meta: add flake-compat & expose flakeless interface
  default.nix
  flake.lock
  flake.nix
  shell.nix
Labels: topic: dependencies, topic: packaging

#1028 docs: note for installing all grammars in `treesitter.nix`
  modules/plugins/treesitter/treesitter.nix
Labels: topic: plugins, topic: modules

#1029 languages/wgsl: fix binary path
  modules/plugins/languages/wgsl.nix
Labels: topic: plugins, topic: modules

#1032 languages/haskell: add missing comma after hls table
  modules/plugins/languages/haskell.nix
Labels: topic: plugins, topic: modules

#1023 utility/undotree: init
  configuration.nix
  docs/release-notes/rl-0.8.md
  modules/plugins/utility/default.nix
  modules/plugins/utility/undotree/config.nix
  modules/plugins/utility/undotree/default.nix
  modules/plugins/utility/undotree/undotree.nix
  npins/sources.json
Labels: topic: plugins, topic: modules, topic: documentation

#1030 flake: move packages to a by-name overlay
  docs/manual/hacking/additional-plugins.md
  flake/packages.nix
  flake/pkgs/by-name/avante-nvim/package.nix
  flake/pkgs/by-name/blink-cmp/package.nix
Labels: topic: documentation, topic: packaging

#1039 utility/nvim-biscuits: init
  configuration.nix
  docs/release-notes/rl-0.8.md
  modules/plugins/utility/default.nix
  modules/plugins/utility/nvim-biscuits/config.nix
  modules/plugins/utility/nvim-biscuits/default.nix
  modules/plugins/utility/nvim-biscuits/nvim-biscuits.nix
  npins/sources.json
Labels: topic: plugins, topic: modules, topic: documentation

#1042 languages/wgsl: make server name match package and binary name
  modules/plugins/languages/wgsl.nix
Labels: topic: plugins, topic: modules
