Repository NotAShelf/nvf, pull requests merged in 2025-09, with the labels that each got.

#1142 languages/nix: fix missing init_options when format enabled
  docs/manual/configuring/autocmds.md
  modules/plugins/languages/nix.nix
Labels: topic: plugins, topic: modules, topic: documentation

#588 languages/typst: Add inline preview via typst-concealer
  .github/typos.toml
  docs/release-notes/rl-0.8.md
  modules/plugins/languages/typst.nix
  npins/sources.json
Labels: topic: plugins, topic: modules, topic: CI, topic: documentation

#1162 deadnix + statix run
  flake/develop.nix
  modules/neovim/init/util.nix
  modules/plugins/languages/clojure.nix
  modules/plugins/languages/haskell.nix
  modules/plugins/utility/motion/flash/config.nix
Labels: topic: plugins, topic: modules

#1156 attach LSP keybinds + other setup work in LspAttach
  docs/release-notes/rl-0.8.md
  lib/dag.nix
  modules/neovim/init/autocmds.nix
  modules/neovim/init/lsp.nix
  modules/plugins/languages/clang.nix
  modules/plugins/languages/csharp.nix
  modules/plugins/languages/dart.nix
  modules/plugins/languages/haskell.nix
  modules/plugins/languages/python.nix
  modules/plugins/languages/rust.nix
  modules/plugins/languages/ts.nix
  modules/plugins/languages/yaml.nix
  modules/plugins/lsp/config.nix
Labels: topic: plugins, topic: modules, topic: documentation
