Repository NotAShelf/nvf, pull requests merged in 2025-06, with the labels that each got.

#911 assistant/avante-nvim: init
  configuration.nix
  docs/release-notes/rl-0.8.md
  flake/avante-nvim/default.nix
  flake/packages.nix
  modules/plugins/assistant/avante/avante-nvim.nix
  modules/plugins/assistant/avante/config.nix
  modules/plugins/assistant/avante/default.nix
  modules/plugins/assistant/default.nix
  modules/wrapper/build/config.nix
  modules/wrapper/rc/options.nix
  npins/sources.json
Labels: topic: plugins, topic: modules, topic: documentation, topic: packaging

#931 themes/onedark: add missing transparency option
  docs/release-notes/rl-0.8.md
  modules/plugins/theme/supported-themes.nix
Labels: topic: plugins, topic: modules, topic: documentation

#942 flake: bump inputs
  flake.lock
  modules/plugins/languages/astro.nix
  modules/plugins/languages/css.nix
  modules/plugins/languages/svelte.nix
  modules/plugins/languages/ts.nix
  npins/sources.json
Labels: topic: plugins, topic: modules, topic: dependencies

#559 utility/telescope: custom extensions API
  modules/plugins/utility/telescope/config.nix
  modules/plugins/utility/telescope/telescope.nix
Labels: topic: plugins, topic: modules

#939 fix: pluginOverrides attempting to build
  modules/wrapper/build/config.nix
Labels: topic: modules

#951 fix(yanky-nvim): shada assertion condition
  modules/plugins/utility/yanky-nvim/config.nix
Labels: topic: plugins, topic: modules

#961 snippets/luasnip: add the ability to add custom snippets
  docs/release-notes/rl-0.8.md
  modules/plugins/snippets/luasnip/config.nix
  modules/plugins/snippets/luasnip/luasnip.nix
Labels: topic: plugins, topic: modules, topic: documentation

#975 Update vim.clipboard.registers type to str
  modules/neovim/init/clipboard.nix
Labels: topic: modules
