Repository NotAShelf/nvf, pull requests merged in 2025-05, with the labels that each got.

#882 ci: backport & labeler config
  .github/labels.yml
  .github/workflows/backport.yml
  .github/workflows/labeler.yml
Labels: enhancement, github_actions

#890 Add .eslintrc.cjs as eslint config file option
  modules/plugins/languages/ts.nix
Labels: topic: plugins, topic: modules

#869 lsp: fix toggleFormatOnSave
  modules/plugins/lsp/config.nix
Labels: topic: plugins, topic: modules

#708 docs: yet another cleanup
  docs/manual/configuring.md
  docs/manual/configuring/autocmds.md
  docs/manual/configuring/custom-package.md
  docs/manual/configuring/custom-plugins.md
  docs/manual/configuring/custom-plugins/configuring.md
  docs/manual/configuring/custom-plugins/lazy-method.md
  docs/manual/configuring/custom-plugins/legacy-method.md
  docs/manual/configuring/custom-plugins/non-lazy-method.md
  docs/manual/configuring/languages/lsp.md
  docs/manual/default-configs.md
  docs/manual/default-configs/maximal.md
  docs/manual/default-configs/nix.md
  docs/manual/manual.md
  docs/manual/tips.md
  docs/manual/tips/plugin-sources.md
  docs/manual/try-it-out.md
Labels: topic: documentation

#891 conform: respect vim.lsp.formatOnSave and vim.lsp.mappings.toggleFormatOnSave
  docs/release-notes/rl-0.8.md
  modules/plugins/formatter/conform-nvim/conform-nvim.nix
  modules/plugins/lsp/config.nix
Labels: topic: plugins, topic: modules, topic: documentation

#702 languages/markdown: Add markview renderer
  docs/release-notes/rl-0.8.md
  modules/plugins/languages/markdown.nix
  npins/sources.json
Labels: topic: plugins, topic: modules, topic: documentation

#892 feat: add treesitter textobjects
  docs/release-notes/rl-0.8.md
  modules/plugins/treesitter/default.nix
  modules/plugins/treesitter/ts-textobjects/config.nix
  modules/plugins/treesitter/ts-textobjects/default.nix
  modules/plugins/treesitter/ts-textobjects/textobjects.nix
  npins/sources.json
Labels: topic: plugins, topic: modules, topic: documentation

#865 neovim/clipboard: init module
  docs/release-notes/rl-0.8.md
  modules/extra/deprecations.nix
  modules/neovim/init/basic.nix
  modules/neovim/init/clipboard.nix
  modules/neovim/init/default.nix
Labels: topic: modules, topic: documentation

#894 add ruby lsp as ruby server option
  docs/release-notes/rl-0.8.md
  modules/plugins/languages/ruby.nix
Labels: topic: plugins, topic: modules, topic: documentation

#898 languages/ruby: fix missing semicolon
  modules/plugins/languages/ruby.nix
Labels: topic: plugins, topic: modules

#899 themes/solarized-osaka: init
  docs/release-notes/rl-0.8.md
  modules/plugins/theme/supported-themes.nix
  npins/sources.json
Labels: topic: plugins, topic: modules, topic: documentation

#904 basic: deprecate vim.scrollOffset
  docs/release-notes/rl-0.8.md
  modules/extra/deprecations.nix
  modules/neovim/init/basic.nix
Labels: topic: modules, topic: documentation

#903 utility/img-clip: init
  configuration.nix
  docs/release-notes/rl-0.8.md
  modules/plugins/utility/binds/hardtime/config.nix
  modules/plugins/utility/images/default.nix
  modules/plugins/utility/images/img-clip/config.nix
  modules/plugins/utility/images/img-clip/default.nix
  modules/plugins/utility/images/img-clip/img-clip.nix
  npins/sources.json
Labels: topic: plugins, topic: modules, topic: documentation

#900 fix: disable Conform for Rust
  docs/release-notes/rl-0.8.md
  modules/plugins/languages/rust.nix
Labels: topic: plugins, topic: modules, topic: documentation

#906 update mnw, fix noBuildPlug
  flake.lock
  modules/wrapper/build/config.nix
Labels: topic: modules, topic: dependencies

#923 assistant/codecompanion: also add YAML tree-sitter grammar when enabled
  modules/plugins/assistant/codecompanion/config.nix
Labels: topic: plugins, topic: modules
