Repository NotAShelf/nvf, pull requests merged in 2025-08, with the labels that each got.

#962 [skip ci] Language overhaul part 2
  .github/typos.toml
  lib/languages.nix
  lib/types/custom.nix
  lib/types/default.nix
  modules/extra/deprecations.nix
  modules/plugins/languages/asm.nix
  modules/plugins/languages/astro.nix
  modules/plugins/languages/bash.nix
  modules/plugins/languages/clang.nix
  modules/plugins/languages/csharp.nix
  modules/plugins/languages/css.nix
  modules/plugins/languages/cue.nix
  modules/plugins/languages/dart.nix
  modules/plugins/languages/elixir.nix
  modules/plugins/languages/fsharp.nix
  modules/plugins/languages/gleam.nix
  modules/plugins/languages/go.nix
  modules/plugins/languages/helm.nix
  modules/plugins/languages/julia.nix
  modules/plugins/languages/markdown.nix
  modules/plugins/languages/nim.nix
  modules/plugins/languages/nix.nix
  modules/plugins/languages/nu.nix
  modules/plugins/languages/ocaml.nix
  modules/plugins/languages/odin.nix
  modules/plugins/languages/php.nix
  modules/plugins/languages/python.nix
  modules/plugins/languages/r.nix
  modules/plugins/languages/ruby.nix
  modules/plugins/languages/sql.nix
  modules/plugins/languages/svelte.nix
  modules/plugins/languages/tailwind.nix
  modules/plugins/languages/ts.nix
  modules/plugins/languages/typst.nix
  modules/plugins/languages/vala.nix
  modules/plugins/languages/wgsl.nix
  modules/plugins/languages/yaml.nix
  modules/plugins/languages/zig.nix
Labels: topic: plugins, topic: modules, topic: CI

#1061 lsp/otter: remove conflict warning since 0.11 is now common
  docs/release-notes/rl-0.8.md
  modules/plugins/lsp/otter/config.nix
Labels: topic: plugins, topic: modules, topic: documentation

#1054 fix(blink-cmp): Fix broken default sources
  docs/release-notes/rl-0.8.md
  modules/plugins/completion/blink-cmp/config.nix
Labels: topic: plugins, topic: modules, topic: documentation

#1092 languages/qml: init
  configuration.nix
  docs/release-notes/rl-0.8.md
  modules/plugins/languages/default.nix
  modules/plugins/languages/qml.nix
Labels: topic: plugins, topic: modules, topic: documentation

#1097 languages/svelte: fix svelte-language-server not reloading .js/.ts files on change
  docs/release-notes/rl-0.8.md
  modules/plugins/languages/svelte.nix
Labels: topic: plugins, topic: modules, topic: documentation

#1098 docs: fixup release notes from main -> v0.8 merge
  docs/release-notes/rl-0.8.md
Labels: topic: documentation

#1099 docs: add missing period to release notes
  docs/release-notes/rl-0.8.md
Labels: topic: documentation

#1102 docs: Add missing languages to manual
  docs/manual/configuring/languages.md
Labels: topic: documentation

#1110 [skip ci] lazy: enabled option accepts luaInline instead of str
  docs/release-notes/rl-0.8.md
  modules/wrapper/lazy/lazy.nix
Labels: topic: modules, topic: documentation

#1101 lsp/harper-ls: init
  configuration.nix
  docs/release-notes/rl-0.8.md
  modules/plugins/lsp/default.nix
  modules/plugins/lsp/harper-ls/config.nix
  modules/plugins/lsp/harper-ls/default.nix
  modules/plugins/lsp/harper-ls/harper-ls.nix
Labels: topic: plugins, topic: modules, topic: documentation

#1072 languages/python: add formatter that combines `ruff format` with `ruff check --fix`
  docs/release-notes/rl-0.8.md
  modules/plugins/languages/python.nix
Labels: topic: plugins, topic: modules, topic: documentation

#1117 docs: fix markdown formatting
  docs/manual/configuring/languages.md
  docs/release-notes/rl-0.8.md
Labels: topic: documentation

#1122 meta: bump plugins; fix bufferline
  modules/plugins/tabline/nvim-bufferline/config.nix
  modules/plugins/tabline/nvim-bufferline/nvim-bufferline.nix
  npins/sources.json
Labels: topic: plugins, topic: modules

#1121 ui/nvim-highlight-colors: init
  docs/release-notes/rl-0.8.md
  modules/plugins/ui/default.nix
  modules/plugins/ui/nvim-highlight-colors/config.nix
  modules/plugins/ui/nvim-highlight-colors/default.nix
  modules/plugins/ui/nvim-highlight-colors/nvim-highlight-colors.nix
  npins/sources.json
Labels: topic: plugins, topic: modules, topic: documentation
